.flashcard{
    height: 250px;
    width: 400px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:750px){
    .flashcard{
        width: 90vw;
    }
}