.flashcard{
    min-height: 200px;
    height: fit-content;
    min-width: 300px;
    width: fit-content;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}