.kanji_card{
    min-width: 50vw;
    height: fit-content;
    min-height: 50vh;
    background-color: #F4F4F4;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0px;
    .flexbox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .on_reading,.kun_reading{
            width: 50%;
            padding: 20px;
            text-align: center;
            h3{
                text-decoration: underline;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width:800px){
    .kanji_card{
        width: 90vw;
        .flexbox{
            flex-direction: column;
            .on_reading,.kun_reading{
                width: 100%;
            }
        }
    }
}